/ArticuloApp.WebSite/nbproject/private/
/ArticuloApp.WebApplication/nbproject/private/
/ArticuloApp.Library/nbproject/private/
/articuloApp/build/
/articuloApp/nbproject/private/
/ArticuloApp.Library/dist/
/ArticuloApp.Library/build/
/ArticuloApp.WebApplication/build/
/ArticuloApp.WebApplication/dist/
/articuloApp/dist/
/ArticuloAppWS/nbproject/private/
/ArticuloAppWS/dist/
/ArticuloAppWS/build/
/WSMoviesColombia/build/
/WSMoviesColombia/dist/
/WSMoviesColombia/nbproject/private/
/WSArticuloAPP/build/
/WSArticuloAPP/nbproject/private/